.more-info

    &__title
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: relsize(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        cursor: pointer;
        text-decoration: underline;
        display: inline-block;

        &:hover
            text-decoration: none;
            color: #FEFEFE;

    &__container
        display: none;
        margin-top: rel-size(20px);

    &__name
    &__info
        display: inline-block;
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191

    &__info
        color: #FEFEFE;
