.detailFilter
    position: relative;
    z-index: 100;
    box-sizing: border-box;
    background: url("/dist/images/background.jpg") left top;
    background-size: 130px 130px;

    &__head
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #3A3A3A;

    &__popular
        font-family: ff-Quasimodo;
        font-size: rel-size(23px);
        line-height: rel-size(26px);
        color: #FEFEFE;
        padding: rel-size(40px) 0 rel-size(40px) rel-size(30px);
        background: url('/dist/images/sortBy.svg') left center no-repeat;
        background-size: 0.9rem 0.5rem;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover
            opacity: 1;

        &.is-active
            opacity: 1;
            border-bottom: 4px solid #FEFEFE;

    &__filterButton
        font-family: ff-Quasimodo;
        font-size: rel-size(23px);
        line-height: rel-size(26px);
        color: #FEFEFE;
        padding: rel-size(40px) 0 rel-size(40px) rel-size(30px);
        background: url('/dist/images/filter.svg') left center no-repeat;
        background-size: 0.9rem 0.5rem;
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover
            opacity: 1;

        &.is-active
            opacity: 1;
            border-bottom: 4px solid #FEFEFE;

    &__filter
        display: flex;

    &__filterDisplay
        display: flex;
        margin: 0;
        padding: rel-size(40px) 0 rel-size(40px) 0;

        .filterDetail__labelText
            margin: 0 rel-size(10px);
            padding: 0 rel-size(20px) 0 0;
            font-family: ff-PD;
            font-style: normal;
            font-weight: normal;
            font-size: rel-size(18px);
            // line-height: rel-size(34px);
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #FEFEFE;
            background: url('/dist/images/clear.svg') right center no-repeat;
            background-size: 0.5rem 0.5rem;
            opacity: 0.5;
            transition: 0.3s;

            &:hover
                opacity: 1;

            &:before
                display: none;

.filterDetail
    width: 100%;
    border-bottom: 1px solid #3A3A3A;
    z-index: -1;
    background: url("/dist/images/background.jpg") left top;
    background-size: 130px 130px;
    transition: opacity 0.5s;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__inner
        padding: rel-size(80px) 0;
        width: 15rem;
        border-right: 1px solid #3A3A3A;

    &.is-active
        height: auto;
        opacity: 1;

    &__category
        margin-bottom: rel-size(40px);

        &:last-child
            margin-bottom: 0;

    &__categoryTitle
        font-family: ff-Quasimodo;
        font-size: rel-size(31px);
        line-height: rel-size(27px);
        color: #919191;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;

        &:hover
        &.is-active
            color: #fff;

    &__categoryTitle--clear
        display: block;
        width: rel-size(10px);
        height: @width;
        background: url('/dist/images/clear.svg') center center no-repeat;
        background-size: contain;
        margin-left: rel-size(15px);
        cursor: pointer;

    &__categoryContainer
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 15rem - 4%);
        height: 100%;
        padding: rel-size(80px) rel-size(160px) rel-size(40px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        display: none;

    &__category

        .filterDetail__categoryContainer
            display: none;

    &__category.is-active

        .filterDetail__categoryContainer
            display: flex;

        .filterDetail__categoryTitle
            opacity: 1;
            color: #fff;

    &__label
        margin: 0 rel-size(30px) rel-size(40px) 0;

        input
            display: none;

            &:checked + *
                color: #fff;

    &__labelText
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(26px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        cursor: pointer;
        transition: color 0.3s;

        &:hover
        &.is-active
            color: #fff;

    &__price
        display: flex;

    &__priceLabel
        display: flex;
        flex-direction: column;
        margin: 0 rel-size(20px) 0 0;

    &__priceTitle
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: normal;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        margin-bottom: 20px;
        text-transform: uppercase;

    &__priceInput
        display: block;
        width: rel-size(260px);
        height: rel-size(70px);
        background: transparent;
        border: 1px solid #919191;
        outline: none;
        padding: rel-size(15px) rel-size(20px) rel-size(20px);
        font-family: Playfair Display;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: normal;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FEFEFE;
