// This is for footer
// "sticked" at bottom
body
html
    width 100%
    height 100%

body
    background: url('/dist/images/background.jpg') left top repeat;
    background-size: 130px 130px;

*
    box-sizing: border-box;
    color: white;

.outer
    width: 100%;
    

.wrapper
    padding-left: 4%; //rel-size(130px);
    padding-right: 4%; //rel-size(130px);
