.advantages

    &__row

        &--sb
            display: flex;
            justify-content: space-between;

            +below(1240px)
                flex-wrap: wrap;

    &__container
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        height: auto;

        +below(640px)
            flex-wrap: initial;
            justify-content: initial;

    &__slider
        padding-top: 15%;

        +below(1240px)
            padding-top: 0;

        +below(640px)
            padding-bottom: rel-size(80px);
            margin-bottom: rel-size(30px);

.advantages-box
    width: rel-size(400px);
    margin: 0 rel-size(160px) rel-size(80px) 0;

    +below(1560px)
        margin: 0 rel-size(80px) rel-size(80px) 0;

    +below(1440px)
        margin: 0 rel-size(40px) rel-size(80px) 0;

    +below(1360px)
        width: rel-size(330px);

    +below(1240px)
        width: 30%;
        margin: 0 1.5% rel-size(80px);

    +below(980px)
        width: 46%;
        margin: 0 2% rel-size(80px);

    +below(640px)
        width: 100%;
        margin: 0;
        padding: 0 rel-size(30px) 0 1px;

    &:nth-child(2n)
        margin-right: 0;

        +below(1240px)
            margin: 0 1.5% rel-size(80px);

        +below(980px)
            width: 46%;
            margin: 0 2% rel-size(80px);

        +below(640px)
            width: 100%;
            margin: 0;

    &__title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-bottom: rel-size(20px);

    &__text
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
