.advantages

    &__row

        &--sb
            display: flex;
            justify-content: space-between;

            +below(1240px)
                flex-wrap: wrap;

    &__container

        +above(640px)
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: rel-size(50px);
            grid-row-gap: rel-size(80px);

        +above(1240px)
            grid-template-columns: 2fr 3fr 3fr;

    &__slider
        padding-top: 15%;
        padding-bottom: rel-size(80px);

        +below(1240px)
            padding-top: 0;

        +below(640px)
            padding-bottom: rel-size(80px);
            margin-bottom: rel-size(30px);

        +above(640px)
            .swiper-pagination
                display: none;



.advantages-box

    +above(640px)
        grid-column-start: 1;
        grid-column-end: 2;

    +above(1240px)
        grid-column-start: 2;
        grid-column-end: 3;

    &:nth-child(2n)

        +above(640px)
            grid-column-start: 2;
            grid-column-end: 3;

        +above(1240px)
            grid-column-start: 3;
            grid-column-end: 4;

    &__title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-bottom: rel-size(20px);

    &__text
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
