.catalog
    margin: 0 0 rel-size(80px);
    display: flex;
    flex-direction: column;
    padding-top: 20%;

    &__box
        position: relative;
        width: 40%;
        padding-top: 30%;

        &:nth-child(2n)
            align-self: flex-end;

        &:hover

            .catalog__item
                border: 1px solid #fff;

            .catalog__title
                color: #fff;

            .catalog__image
                transition: transform 3s ease-out;
                transform: scale(1.1);

    &__item
        display: block;
        border: 1px solid #3A3A3A;
        width: 100%;
        padding: rel-size(40px);
        position: absolute;
        left: 0;
        bottom: 0;
        transition: border 0.5s;

    &__image
        position: relative;
        width: 100%;
        padding-top: 80%;
        margin-bottom: rel-size(122px);
        transition: transform 0.5s;

        img
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;

    &__title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #3A3A3A;
        transition: color 0.5s;
