.orderForm
    padding-bottom: rel-size(180px);

.product
    max-height: 1000px;
    border-top: 1px solid #3A3A3A;

    &__container
        padding-top: rel-size(40px);
        padding-bottom: rel-size(40px);
        display: flex;
        position: relative;

        +below(768px)
            flex-direction: column;

    &:last-child
        border-bottom: 1px solid #3A3A3A;

    &__image
        width: rel-size(160px);
        height: @width;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rel-size(120px);
        user-select: none;

        +below(1080px)
            margin-right: rel-size(20px);

        +below(768px)
            margin-right: 0;
            margin-bottom: rel-size(15px);

        img
            width: 160px;
            height: 160px;
            object-fit: contain;
            object-position: center;

    &__title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-bottom: rel-size(40px);

        +below(768px)
            br
                display: none;

    &__selects
        display: flex;
        flex-wrap: wrap;

    &__select
        margin-right: rel-size(20px);
        margin-bottom: rel-size(20px);

    &__select-name
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        margin-bottom: rel-size(10px);

    &__select-value
        background: transparent;
        min-width: rel-size(160px);
        height: rel-size(70px);
        border: 1px solid #919191;
        padding: rel-size(20px) rel-size(60px) rel-size(20px) rel-size(20px);
        appearance: none;
        cursor: pointer;
        background: url('/dist/images/dropdown-icon.svg') calc(100% - 30px) center no-repeat;

        option
            background: #1a1a1a;
            outline: none;
            cursor: pointer;

        &:focus
            border: 1px solid #919191;
            outline: none;

    &__price
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-left: auto;
        margin-right: rel-size(120px);

        +below(1080px)
            margin-right: rel-size(20px);

        +below(768px)
            margin-right: 0;
            margin-left: 0;

    &__delete
        cursor: pointer;
        align-self: flex-start;

        +below(768px)
            position: absolute;
            top: rel-size(30px);
            right: rel-size(30px);

    &__sum
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        padding-top: rel-size(60px);
        padding-bottom: rel-size(60px);
        border-top: 1px solid #3a3a3a;

        +below(768px)
            justify-content: flex-start;
            padding-top: rel-size(20px);

    &__sum-title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-right: rel-size(80px);

        +below(580px)
            margin-right: rel-size(20px);

    &__sum-price
        font-family: ff-Quasimodo;
        font-size: rel-size(83px);
        line-height: rel-size(73px);
        color: #FEFEFE;

        +below(580px)
            font-size: rel-size(63px);
            line-height: rel-size(53px);

        input
            // border: none;
            background: transparent;



/* Add class for delete animation */
.deleteAnim
    transition: max-height 0.75s;
    max-height: 0;
    overflow: hidden;

    & > div
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        transform: scale(0.9);
        opacity: 0;
/* Add class for delete animation */



.backToMain
    display: flex;
    align-items: center;
    font-family: ff-Quasimodo;
    font-size: 0;
    line-height: 0;
    color: #FEFEFE;
    opacity: 0;
    height: 0;
    animation: slideDown 1s 0.5s linear forwards;

@keyframes slideDown {
    0%,10% {
        height: 0;
        overflow: hidden;
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }
    50% {
        height: 200px;
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }
    51% {
        overflow: visible;
        font-size: 62px;
        line-height: 63px;
    }
    100% {
        height: 200px;
        opacity: 1;
        font-size: 62px;
        line-height: 63px;
    }
}
