footer
    padding: rel-size(80px) 0;
    border-top: 1px solid #3A3A3A;

.footer
    display: flex;

    +below(980px)
        flex-wrap: wrap;

    &__row
        display: flex;
        justify-content: space-between;
        margin-bottom: rel-size(80px);

        +below(660px)
            display: block;
            margin-bottom: rel-size(40px);

        &:last-child
            margin-bottom: 0;

    &__col-1
        width: 250px;

        +below(980px)
            width: 100%;

    &__col-2
        width: calc(100% - 250px);

        +below(980px)
            width: 100%;

    &__logo

        +below(980px)
            display: inline-block;
            margin-bottom: rel-size(20px);

    &__address
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        width: rel-size(460px);
        color: #FEFEFE;

        +below(660px)
            width: 100%;
            font-size: rel-size(32px);
            line-height: rel-size(33px);

    &__info
        display: flex;
        align-items: center;

    &__work-time
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        margin-right: rel-size(40px);

    &__phone
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        transition: 0.3s;

        &:hover
            color: #fff;

    &__social
        display: flex;
        align-items: center;

        +below(440px)
            flex-wrap: wrap;

        a
            margin-left: rel-size(40px);
            font-family: ff-PD;
            font-style: normal;
            font-weight: normal;
            font-size: rel-size(18px);
            line-height: rel-size(34px);
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #919191;
            transition: 0.3s;

            +below(660px)
                margin-right: rel-size(40px);
                margin-left: 0;

            &:hover
                color: #fff;
