.section-head
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rel-size(60px);

    &__title
        text-align: center;
        font-family: ff-Quasimodo;
        font-size: rel-size(83px);
        line-height: rel-size(73px);
        display: flex;
        align-items: center;
        text-align: center;
        color: #FEFEFE;
        position: relative;
        padding: 0 rel-size(15px);

        &:before
            content: ' ';
            width: 10px;
            height: @width;
            border: 1px solid #3A3A3A;
            position: absolute;
            top: 50%;
            right: calc(100% + 100px);
            transform: rotate(45deg);

        &:after
            content: ' ';
            width: 10px;
            height: @width;
            border: 1px solid #3A3A3A;
            position: absolute;
            top: 50%;
            left: calc(100% + 100px);
            transform: rotate(45deg);

    &__info
        position: absolute;
        left: 0;
        top: 0;
        font-family: ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        color: #919191;
        transition: color 0.3s;
        font-feature-settings: 'pnum' on, 'lnum' on;
        opacity: 0;
        animation: opacity 1s 1.5s linear forwards;
