.shadow-name
    position: relative;

    &__title
        font-family: ff-Quasimodo;
        font-size: 10vw;
        line-height: 11vw;
        opacity: 1;
        text-align: right;
        z-index: -1;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #3A3A3A;
        position: absolute;
        top: 5%;
        right: 30%;
        transition: 1s;

    &:hover

        .shadow-name__title
            color: #fff;
