.contacts
    display: flex;
    padding-top: rel-size(30px);
    padding-bottom: rel-size(30px);

    +below(768px)
        flex-wrap: wrap;

    &__info
        flex: 1 1 auto;
        padding-right: rel-size(30px);

        +below(768px)
            flex: none;
            width: 100%;
            padding: 0;
            margin-bottom: rel-size(30px);

        a
            transition: color 0.3s;

            &:hover
                color: #fff;

    &__info-container
        margin-bottom: rel-size(40px);

        +below(768px)
            text-align: center;

    &__info-title
        font-family: ff-Quasimodo;
        font-size: rel-size(42px);
        line-height: rel-size(43px);
        color: #FEFEFE;
        margin-bottom: rel-size(20px);

    &__info-text
        font-family:ff-PD;
        font-style: normal;
        font-weight: normal;
        font-size: rel-size(18px);
        line-height: rel-size(34px);
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #919191;
        margin-bottom: rel-size(5px);

    &__map
        flex: 3 1 100%;
        position: relative;

        +below(768px)
            padding-top: 76%;
            width: 100%;
            flex: none;

#map
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
